/*---------BODY-------------*/

body {
    font-family:'Lato', sans-serif;
}

a{
    color: #505050;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    font-weight:bold;
    color:#505050;
}


/*---------HEADER------------*/

.container-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar-brand {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px #F8E9E2;
}

.nav-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px; 
    font-weight:bold;
    color:#505050;
}

.nav-item {
    padding-left: 100px;
    padding-right: 100px;
}

.navbar-toggler {
    border: transparent;
}

/*--------CAROUSEL-----------*/

/*found a CSS command (backdrop-filter) to use for blurring the area behind the text https://www.codegrepper.com/code-examples/swift/blur+behind+text+css*/

.carousel-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 55px;
    backdrop-filter: blur(8px);
    font-weight: bold; 
}

.carousel-desc{
    font-size: 25px;
    backdrop-filter: blur(8px);
}


/*------ABOUT ME-----------*/

.about-container {
    margin-top: 50px;
    padding: 25px;
}

.about-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    padding-bottom: 15px;
}

.about-me {
     font-size: 17px;
     text-align: justify;
}

/*--------SUBSCRIBE SECTION--------*/

.subscribe-container {
    margin-top: 25px;
    margin-bottom: 55px;
    background-color: #F8E9E2;
    padding-bottom: 25px;
}

.subscribe-title {
    text-align: center;
    margin-top: 20px;
}

.subscribe-header {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
}

.subscribe-para{
    text-align: center;
}

.subscribe-text {
    font-size: 17px;
}

.form-control {
    text-align: center;
}

.btn {
    background-color: #FFCBA4;
    color:#505050;
    font-family: 'Source Sans Pro', sans-serif;
}


/*-------CARDS---------*/

.container-cards {
    margin-bottom: 50px;
}

.container-cards-two {
    margin-bottom: 50px;
}

.card-title {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.card-footer {
    background-color:#F8E9E2;
    text-align: center;
}

/*--------CONTACT ME FORM---------*/

.contact-me-title {
    text-align: center;
    color: #505050 ;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 35px;
    margin-bottom: 25px;
    backdrop-filter: blur(8px);
    font-weight: bold;
}

.submit-button {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn{   
    border: #505050;
    background-color: #505050;
    color: #FFCBA4;
}

.btn:hover {
    background-color: #FFCBA4;
    color: #505050 ;
}

.container-contact-form {
    background-image: url('../../assets/images/wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.form-group {
    color: #505050 ;
    backdrop-filter: blur(8px);
    text-align: center;
}



/*--------PANTRY ESSENTIALS----------*/

.container-pantry {
    background-image: url(../../assets/images/peaches1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.pantry-ess{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 35px;
    margin-bottom: 35px;
    border: transparent;
}

/*used snippet of code and amended it from W3 Schools, Unordered lists without bullets https://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_unordered_none */
.pantry-list {
    list-style-type: none;
}

.pantry-item {
    text-align: right;
    font-size: 20px;
    font-weight:bold;
    line-height: 400%;
}


/*--------FOOTER-----------*/

/* used this to assist with word spacing https://www.w3schools.com/cssref/pr_text_word-spacing.asp*/ 
.links {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    word-spacing: 55px;
}

.links li {
    display: inline;
}

/* used a snippet of code from W3 schools to create dots https://www.w3schools.com/howto/howto_css_circles.asp */
.dot {
    height: 8px;
    width: 8px;
    background-color: #FFCBA4;
    border-radius: 50%;
    display: inline-block;
}

.socials {
    text-align: center;
    padding: 20px;
    word-spacing: 70px;
}

.socials li {
    display: inline;
}

.socials .fa {
    font-size: 30px;
    color: #FFCBA4;
}

#copyright {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}


/*--------MEDIA QUERIES----------*/

@media only screen and (min-width: 600px) {
  .pantry-ess{
   backdrop-filter: blur(6px);
  }
}

@media only screen and (min-width: 600px) {
  .pantry-item{
   backdrop-filter: blur(6px);
  }
}

@media only screen and (min-width: 1024px) {
  .dot {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .links{
    word-spacing: 10px;
  }
}

@media only screen and (min-width: 600px) {
  .socials{
    word-spacing: 5px;
  }
}