
/*---------BODY-------------*/

body {
    font-family:'Lato', sans-serif;
}

a{
    color: #505050;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    font-weight:bold;
    color:#505050;
    font-size: 20px;
}

a:hover.navbar-brand{
    font-size: 30px;
}


/*---------HEADER------------*/

.container-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar-brand {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px #F8E9E2;
}

.nav-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px; 
    font-weight:bold;
    color:#505050;
}

.navbar-toggler {
    border: transparent;
}


/*--------CAROUSEL-----------*/

.carousel-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 55px;
    font-weight: bold; 
    text-shadow: 4px 4px #505050;
}

.carousel-desc{
    font-size: 25px;
    text-shadow: 2px 2px #505050;
}

/*------ABOUT ME-----------*/

.about-container {
    margin-top: 50px;
    padding: 25px;
}

.about-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    padding-bottom: 15px;
}

.about-me {
     font-size: 17px;
     text-align: justify;
}

/*-------CARDS---------*/

.container-cards-two {
    margin-bottom: 50px;
}

.card-title {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.card-footer {
    background-color:#F8E9E2;
    text-align: center;
}

.card {
    margin-bottom: 30px;
}


/*--------PANTRY ESSENTIALS----------*/

.container-pantry {
    background-image: url(../../assets/images/peaches1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.pantry-ess{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 35px;
    margin-bottom: 35px;
    border: transparent;
}

/*used snippet of code and amended it from W3 Schools, Unordered lists without bullets https://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_unordered_none */
.pantry-list {
    list-style-type: none;
}

.pantry-item {
    text-align: right;
    font-size: 20px;
    font-weight:bold;
    line-height: 400%;
}


/*------INDIVIDUAL RECIPES--------*/

.recipe-title-container{
    text-align: center;
    margin-bottom: 35px;
}

.recipe-titles {
    font-family: 'Source Sans Pro', sans-serif;   
    margin-top: 35px;
}

.recipes-headings {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.recipe-ingredients-container {
    margin-bottom: 25px;
    margin-top: 35px;
    padding-top: 25px;
}

.recipe-method-container {
    margin-bottom: 35px;
    padding-bottom: 25px;
}

.serving-col {
    text-align: center;
}

.recipe-info-container {
    background-color:#F8E9E2;
    margin-bottom: 25px;
}

.serving-col {
    border: 1px dashed #505050;
    padding-top: 35px;
    padding-bottom: 25px;
}

.fa-clock {
    color: #505050;
}


/*--------CONTACT ME FORM---------*/

.contact-me-title {
    text-align: center;
    color: #505050 ;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 35px;
    margin-bottom: 25px;
    text-shadow: 1px 1px #505050;
    font-weight: bold;
}

.submit-button {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn{   
    border: #505050;
    background-color: #505050;
    color: #FFCBA4;
}

.btn:hover {
    background-color: #FFCBA4;
    color: #505050 ;
}

.container-contact-form {
    background-image: url('../../assets/images/wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.form-group {
    color: #505050 ;
    text-shadow: 1px 1px #505050;
    text-align: center;
}

.diet-option {
    text-align: center;
}


#dietinput {
    padding-left: 37%;
}


/*--------SUBSCRIBE SECTION--------*/

.subscribe-container {
    margin-top: 25px;
    margin-bottom: 55px;
    background-color: #F8E9E2;
    padding-bottom: 25px;
}

.subscribe-title {
    text-align: center;
    margin-top: 20px;
}

.subscribe-header {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
}

.subscribe-para{
    text-align: center;
}

.subscribe-text {
    font-size: 17px;
}

.form-control {
    text-align: center;
}

button.center-button {
    margin: auto;
    font-family:'Source Sans Pro', sans-serif;
}


/*--------FOOTER-----------*/

.socials {
    text-align: center;
    word-spacing: 5px;
    padding-left: 0px;
}

.socials li {
    display: inline;
}

.socials .fa {
    font-size: 35px;
    color: #FFCBA4;
}

.copyright {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 20px;
}


/*--------MEDIA QUERIES----------*/

@media only screen and (max-width: 600px) {
  .carousel-title {
    font-size: 30px;
    text-shadow: 2px 2px #505050;
  }
}

@media only screen and (max-width: 600px) {
  .carousel-desc {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .about-title {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .pantry-item {
    text-shadow: 1px 1px #505050;
  }
}

@media only screen and (max-width: 600px) {
  .pantry-ess {
    text-shadow: 1px 1px #505050;
  }
}

@media only screen and (min-width: 280px) {
  .navbar-brand{
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .form-inline {
    margin: 15px;
  }
}

@media only screen and (min-width: 1020px) {
  .nav-item {
    padding-right: 100px;
    padding-left: 100px;
  }
}







